.remote-side{
    float:left;
}
.local-side{
    float:right;
}
.chatbox{
    border: black solid thin;
    border-radius: 5px;
    width: 80%;
    margin-bottom: 10px;
}
.chatbox>p{
    margin:10px;
}
.chatbox>p.name{
    text-align: right;
}
#chat{
    margin: 0 auto;
    max-width: 500px;
}
#textbox{
    float: right;
}